interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/search/playlists?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN&q=chillhop+essentials&limit=3
  response:
    body:
      string: "{\"collection\":[{\"artwork_url\":\"https://i1.sndcdn.com/artworks-scY8Myfi8gVfHn2C-kOEnuw-large.jpg\",\"created_at\":\"2026-02-22T19:55:27Z\",\"description\":\"It\u2019s
        that time again. Winter finally cleared out without much ceremony, and suddenly
        the air feels different. Windows are opening. Streets look a little less gray.
        Essentials Spring 2026 is up, and it sounds like that moment when you realize
        the season\u2019s changed halfway through your day. We put together 24 new
        instrumentals that move through warm textures, easy rhythms, and steady grooves.
        Stuff to listen to while you work, walk, or sta[...]
