interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/resolve?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN&url=https%3A%2F%2Fsoundcloud.com%2Fdisclosuremusic
  response:
    body:
      string: '{"avatar_url":"https://i1.sndcdn.com/avatars-V57b6hERdlsSVzyY-UYlQUQ-large.jpg","city":"","comments_count":0,"country_code":null,"created_at":null,"creator_subscriptions":[{"product":{"id":"creator-pro-unlimited"}}],"creator_subscription":{"product":{"id":"creator-pro-unlimited"}},"description":"","followers_count":1439130,"followings_count":866,"first_name":"","full_name":"","groups_count":0,"id":494163,"kind":"user","last_modified":"2026-03-30T22:44:06Z","last_name":"","likes_count":207,"playlist_likes_count":10,"permalink":"disclosuremusic","permalink_url":"https://soundcloud.com/disclosuremusic","playlist_count":66,"reposts_count":null,"track_count":222,"uri":"https://api.soundcloud.com/users/soundcloud%3Ausers%3A494163","urn":"soundcloud:users:494163","username":"Disclosure","verified":true,"visuals":{"urn":"soundcloud:users:494163","enabled":true,"visuals":[{"urn":"soundcloud:visuals:263312703","entry_time":0,"visual_url":"https://i1.sndcdn.com/visuals-000000494163-jRZGl3-original.jpg"}],"tracking":null},"badges":{"pro":false,"creator_mid_tier":false,"pro_unlimited":true,"verified":true},"station_urn":"soundcloud:system-playlists:artist-stations:494163","station_permalink":"artist-stations:494163","date_of_birth":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/users/494163/tracks?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN&limit=3&linked_partitioning=1
  response:
    body:
      string: '{"collection":[{"artwork_url":"https://i1.sndcdn.com/artworks-yIHBhDv5saYVlDhZ-z7x4BQ-large.png","caption":null,"commentable":true,"comment_count":52,"created_at":"2026-03-30T09:49:14Z","description":"","downloadable":false,"download_count":0,"duration":258196,"full_duration":258194,"embeddable_by":"all","genre":"","has_downloads_left":false,"id":2293126439,"kind":"track","label_name":"","last_modified":"2026-03-30T17:30:25Z","license":"all-rights-reserved","likes_count":1678,"permalink":"the-sun-comes-up-tremendous","permalink_url":"https://soundcloud.com/disclosuremusic/the-sun-comes-up-tremendous","playback_count":46150,"public":true,"publisher_metadata":{"id":2293126439,"urn":"soundcloud:tracks:2293126439","artist":"Disclosure","explicit":false},"purchase_title":null,"purchase_url":null,"release_date":null,"reposts_count":95,"secret_token":null,"sharing":"public","state":"finished","streamable":true,"tag_list":"","title":"The
        Sun Comes Up Tremendous","uri":"https://api.soundcloud.com/tracks/soundcloud%3Atracks%3A2293126439","urn":"soundcloud:tracks:2293126439","user_id":494163,"visuals":null,"waveform_url":"https://wave.sndcdn.com/kzRvM0e39jRF_m.json","display_date":"2026-03-30T17:30:25Z","media":{"transcodings":[{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:2293126439/57049e41-7ff1-48fa-98db-4d9007bf0162/stream/hls","preset":"aac_160k","duration":258196,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mp4;
        codecs=\"mp4a.40.2\""},"quality":"sq","is_legacy_transcoding":false},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:2293126439/38437275-8e96-46c0-94cd-52df67bcace7/stream/hls","preset":"aac_96k","duration":258196,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mp4;
        codecs=\"mp4a.40.2\""},"quality":"lq","is_legacy_transcoding":false},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:2293126439/c22753a1-b81f-4607-a5d0-f9a6cac53514/stream/hls","preset":"abr_sq","duration":258196,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mpegurl"},"quality":"sq","is_legacy_transcoding":false},{"url":"https://api-v2.soundcloud.com/media/soundcloud:tracks:2293126439/4249c48c-4cee-4210-9db5-e23bd979061d/stream/hls","preset":"mp3_1_0","duration":258194,"snipped":false,"format":{"protocol":"hls","mime_type":"audio/mpeg"},"quality":"sq","is_legacy_transcoding":true}]},"station_urn":"soundcloud:system-playlists:track-stations:2293126439","station_permalink":"track-stations:2293126439","track_authorization":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJQVCIsInN1YiI6IiIsInJpZCI6ImUwMzlkYjQ1LTExNDUtNDQzMC05ODc0LWI4MzBkMWFkZDc5NyIsImlhdCI6MTc3ODE2ODkxN30.nsszUskgah5SnBUYUfIrZ-BoWdtsgaOYIgNZ2xFCwS0","monetization_model":"BLACKBOX","policy":"MONETIZE","user":{"avatar_url":"https://i1.sndcdn.com/avatars-V57b6hERdlsSVzyY-UYlQUQ-large.jpg","first_name":"","followers_count":1439130,"full_name":"","id":494163,"kind":"user","last_modified":"2026-03-30T22:44:06Z","last_name":"","permalink":"disclosuremusic","permalink_url":"https://soundcloud.com/disclosuremusic","uri":"https://api.soundcloud.com/users/soundcloud%3Ausers%3A494163","urn":"soundcloud:users:494163","username":"Disclosure","verified":true,"city":"","country_code":null,"badges":{"pro":false,"cr[...]
