interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/search/users?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN&q=disclosure&limit=3
  response:
    body:
      string: "{\"collection\":[{\"avatar_url\":\"https://i1.sndcdn.com/avatars-V57b6hERdlsSVzyY-UYlQUQ-large.jpg\",\"city\":\"\",\"comments_count\":0,\"country_code\":null,\"created_at\":null,\"creator_subscriptions\":[{\"product\":{\"id\":\"creator-pro-unlimited\"}}],\"creator_subscription\":{\"product\":{\"id\":\"creator-pro-unlimited\"}},\"description\":\"\",\"followers_count\":1439130,\"followings_count\":866,\"first_name\":\"\",\"full_name\":\"\",\"groups_count\":0,\"id\":494163,\"kind\":\"user\",\"last_modified\":\"2026-03-30T22:44:06Z\",\"last_name\":\"\",\"likes_count\":207,\"playlist_likes_count\":10,\"permalink\":\"disclosuremusic\",\"permalink_url\":\"https://soundcloud.com/disclosuremusic\",\"playlist_count\":66,\"reposts_count\":null,\"track_count\":222,\"uri\":\"https://api.soundcloud.com/users/soundcloud%3Ausers%3A494163\",\"urn\":\"soundcloud:users:494163\",\"username\":\"Disclosure\",\"verified\":true,\"visuals\":{\"urn\":\"soundcloud:users:494163\",\"enabled\":true,\"visuals\":[{\"urn\":\"soundcloud:visuals:263312703\",\"entry_time\":0,\"visual_url\":\"https://i1.sndcdn.com/visuals-000000494163-jRZGl3-original.jpg\"}],\"tracking\":null},\"badges\":{\"pro\":false,\"creator_mid_tier\":false,\"pro_unlimited\":true,\"verified\":true},\"station_urn\":\"soundcloud:system-playlists:artist-stations:494163\",\"station_permalink\":\"artist-stations:494163\",\"date_of_birth\":null},{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000434849067-ph5oir-large.jpg\",\"city\":\"London\",\"comments_count\":0,\"country_code\":null,\"created_at\":null,\"creator_subscriptions\":[{\"product\":{\"id\":\"creator-pro-unlimited\"}}],\"creator_subscription\":{\"product\":{\"id\":\"creator-pro-unlimited\"}},\"description\":\"\\\"I
        love music, how it can make our emotions flow, how it can change the way we
        think, the way we love, the way we express ourselves\\\" Omid 16[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/search/users?client_id=sUn5toeW5d8MC2jOLpE2yAibTG7RRYsA&q=disclosure&limit=3
  response:
    body:
      string: '{"collection":[{"avatar_url":"https://i1.sndcdn.com/avatars-V57b6hERdlsSVzyY-UYlQUQ-large.jpg","city":"","comments_count":0,"country_code":null,"created_at":null,"creator_subscriptions":[{"product":{"id":"creator-pro-unlimited"}}],"creator_subscription":{"product":{"id":"creator-pro-unlimite[...]
