interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/resolve?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN&url=https%3A%2F%2Fsoundcloud.com%2Fdisclosuremusic%2Flatch-ft-sam-smith
  response:
    body:
      string: "{\"artwork_url\":\"https://i1.sndcdn.com/artworks-xGxYM1K6XFMi-0-large.jpg\",\"caption\":null,\"commentable\":true,\"comment_count\":13210,\"created_at\":\"2012-09-07T18:09:58Z\",\"description\":\"New
        single 'Holding On' ft. Gregory Porter\\niTunes: http://po.st/http://po.st/HoldingOnSocial\\nSpotify:
        http://po.st/HoldingOnSpotify\\n\\nTaken from the new album 'CARACAL' out
        25th September\\niTunes: http://po.st/Caracal3\\nAmazon: http://po.st/Caracal10\\nOfficial
        Store: http://po.st/4iqh1L\\nwww.disclosureofficial.com\\n\\nDisclosure Live:
        http://disclosureofficial.com/live/\\nOfficial Merch: http://po.st/4iqh1L\\n\\nThe
        debut album from Disclosure 'Settle' \\niTunes: http://po.st/Eabal4\\nOfficial
        Store: http://po.st/iaE7o9\\nSpecial Edition: http://po.st/viEW5R\\n\\nhttp://disclosureofficial.com\\nhttp://facebook.com/disclosureuk\\nhttp://twitter.com/disclosure\\nhttp://instagram.com/disclosure\\nhttp://instagram.com/disclosure_pics\\nhttp://youtube.com/disclosureVEVO\\nhttp://youtube.com/officialdisclosure\\nhttps://open.spotify.com/artist/6nS5roXSAGhTGr34W6n7Et\",\"downloadable\":false,\"download_count\":0,\"duration\":30000,\"full_duration\":255660,\"embeddable_by\":\"all\",\"genre\":\"Electronic\",\"has_downloads_left\":false,\"id\":59051244,\"kind\":\"track\",\"label_name\":\"Universal-Island
        Records Ltd.\",\"last_modified\":\"2026-04-30T14:08:52Z\",\"license\":\"all-rights-reserved\",\"likes_count\":714400,\"permalink\":\"latch-ft-sam-smith\",\"permalink_url\":\"https://soundcloud.com/disclosuremusic/latch-ft-sam-smith\",\"playback_count\":44746415,\"public\":true,\"publisher_metadata\":{\"id\":59051244,\"urn\":\"soundcloud:tracks:59051244\",\"artist\":\"Disclosure,
        Sam Smith\",\"album_title\":\"Settle\",\"contains_music\":true,\"upc_or_ean\":\"00602537397525\",\"isrc\":\"GBUM71302810\",\"explicit\":false,\"p_line\":\"\u2117
        2012 Universal Island Records, a division of Universal Music Operations Limited\",\"p_line_for_display\":\"\u2117
        2012 Universal Island Records, a division of Universal Music Operations Limited\",\"c_line\":\"\xA9
        2013 Universal Island Records, a division of Universal Music Operations Limited\",\"c_line_for_display\":\"\xA9
        2013 Universal Island Records, a division of Universal Music Operations Limited\",\"release_title\":\"Latch\"},\"purchase_title\":\"Buy
        on iTunes\",\"purchase_url\":\"https://itunes.apple.com/gb/album/settle-deluxe/id646716170\",\"release_date\":\"2013-06-03T00:00:00Z\",\"reposts_count\":190447,\"secret_token\":null,\"sharing\":\"public\",\"state\":\"finished\",\"streamable\":true,\"tag_list\":\"\",\"title\":\"Latch\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud%3Atracks%3A59051244\",\"urn\":\"soundcloud:tracks:59051244\",\"user_id\":494163,\"visuals\":null,\"waveform_url\":\"https://wave.sndcdn.com/fySQzMIWiGVH_m.json\",\"display_date\":\"2013-06-03T00:00:00Z\",\"media\":{\"transcodings\":[{\"url\":\"https://api-v2.soundcloud.com/media/soundcloud:tracks:59051244/7fdb8655-867e-4fe8-a3d6-79e7f12a7e5b/preview/hls\",\"preset\":\"mp3_1_0\",\"duration\":30000,\"snipped\":true,\"format\":{\"protocol\":\"hls\",\"mime_type\":\"audio/mpeg\"},\"quality\":\"sq\",\"is_legacy_transcoding\":true},{\"url\":\"https://api-v2.soundcloud.com/media/soundcloud:tracks:59051244/7fdb8655-867e-4fe8-a3d6-79e7f12a7e5b/preview/progressive\",\"preset\":\"mp3_1_0\",\"duration\":30000,\"snipped\":true,\"format\":{\"protocol\":\"progressive\",\"mime_type\":\"audio/mpeg\"},\"quality\":\"sq\",\"is_legacy_transcoding\":true}]},\"station_urn\":\"soundcloud:system-playlists:track-stations:59051244\",\"station_permalink\":\"track-stations:59051244\",\"track_authorization\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJnZW8iOiJQVCIsInN1YiI6IiIsInJpZCI6ImQ0YjlkMmQxLTZkOGEtNDBjYi05YjE0LWY0ODcxNjk1NGY1NyIsImlhdCI6MTc3ODE2ODkxN30.D8TcD17oVTgcviEr-jlY8Q64DV9MEpBpqm4Ov87g_R8\",\"monetization_model\":\"SUB_HIGH_TIER\",\"policy\":\"SNIP\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-V57b6hERdlsSVzyY-UYlQUQ-large.jpg\",\"city\":\"\",\"comments_count\":0,\"country_code\":null,\"created_at\":null,\"creator_subscriptions\":[{\"product\":{\"id\":\"creator-pro-unlimited\"}}],\"creator_subscription\":{\"product\":{\"id\":\"creator-pro-unlimited\"}},\"description\":\"\",\"followers_count\":1439130,\"followings_count\":866,\"first_name\":\"\",\"full_name\":\"\",\"groups_count\":0,\"id\":494163,\"kind\":\"user\",\"last_modified\":\"2026-03-30T22:44:06Z\",\"last_name\":\"\",\"likes_count\":207,\"playlist_likes_count\":10,\"permalink\":\"disclosuremusic\",\"permalink_url\":\"https://soundcloud.com/disclosuremusic\",\"playlist_count\":66,\"reposts_count\":null,\"track_count\":222,\"uri\":\"https://api.soundcloud.com/users/soundcloud%3Ausers%3A494163\",\"urn\":\"soundcloud:users:494163\",\"username\":\"Disclosure\",\"verified\":true,\"visuals\":{\"urn\":\"soundcloud:users:494163\",\"enabled\":true,\"visuals\":[{\"urn\":\"soundcloud:visuals:263312703\",\"entry_time\":0,\"visual_url\":\"https://i1.sndcdn.com/visuals-000000494163-jRZGl3-original.jpg\"}],\"tracking\":null},\"badges\":{\"pro\":false,\"creator_mid_tier\":false,\"pro_unlimited\":true,\"verified\":true},\"station_urn\":\"soundcloud:system-playlists:artist-stations:494163\",\"station_permalink\":\"artist-stations:494163\",\"date_of_birth\":null}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/media/soundcloud:tracks:59051244/7fdb8655-867e-4fe8-a3d6-79e7f12a7e5b/preview/progressive?client_id=m3fPPZefBYC1BJGyknJMS6wN6PyvlrEN
  response:
    body:
      string: '{"url":"https://cf-preview-media.sndcdn.com/preview/0/30/fySQzMIWiGVH.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLXByZXZpZXctbWVkaWEuc25kY2RuLmNvbS9wcmV2aWV3LzAvMzAvZnlTUXpNSVdpR1ZILjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzc4MTY5MjkzfX19XX0_&Signature=JzcBamNm5A4sf2QaPtY5YQxPARQ3c6xawCg3-CqTftdFsE9QDI6dSo6U4rCgLcq-NGb4sqYLt7dYPjvymcrk5dhSndprG5-Ap-Wavh32RdzpClTpqJjP1Pr81wPSdyDWhW-foGxsciZd3agvuLaflQ9x9rHWnF1nvlVwNDB0Wq0Cmqd4NaouOHRtKSAZKBSnRKBtOB661lYThq6r~CPLakGow~oygyAmSMx8EQGmoYmGi~UdZJ-KHxhAqEH3dg19IT8moTSHl6tYQ1BL7HLxPOuZayzy1tAZ8NURxbj~v3742BGWv-oIj0M2So5PZg9rGVXGNipYuei8bj8MWMXn9A__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/resolve?client_id=sUn5toeW5d8MC2jOLpE2yAibTG7RRYsA&url=https%3A%2F%2Fsoundcloud.com%2Fdisclosuremusic%2Flatch-ft-sam-smith
  response:
    body:
      string: "{\"artwork_url\":\"https://i1.sndcdn.com/artworks-a3NMHvcWH9fT-0-large.jpg\",\"caption\":null,\"commentable\":true,\"comment_count\":13195,\"created_at\":\"2012-09-07T18:09:58Z\",\"description\":\"New
        single 'Holding On' ft. Gregory Porte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-v2.soundcloud.com/media/soundcloud:tracks:59051244/7fdb8655-867e-4fe8-a3d6-79e7f12a7e5b/preview/progressive?client_id=sUn5toeW5d8MC2jOLpE2yAibTG7RRYsA
  response:
    body:
      string: '{"url":"https://cf-preview-media.sndcdn.com/preview/0/30/fySQzMIWiGVH.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLXByZXZpZXctbWVkaWEuc25kY2RuLmNvbS9wcmV2aWV3LzAvMzAvZnlTUXpNSVdpR1ZILjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzg1NzIyNTUwfX19XX0_&Signature=BHjdI-O24XOuR~WABeZPvIn1REpe~i0tXLfdeTEQYi2A04K1hi78pEhFSnoPfhWTZCBZRhJbAgtWkUynxwFvNzA6rdrEp6LkToINywb7OVN0jcadZnS54yJboYafG5A6BikZtu~AubKRGFe8h9Gz7eLO3cakI0wCR2w-Q277M8U0-xkEiOIfcRicCMnnrmPFOa2k28-wPFHlB7QJRE~ZweeotnZfOkF5-sfyi4723UdJEX1OsJbbOxxgVNXCnwxXAL4LgFt5HtnqQvNZUlh6JLt67VdiA9rQDizBe~L2hoPD3CTTYdsS4jJ3qaIqAzxXQa137SA0mBh-1nIOYLERLQ__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
