interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://soundcloud.com/disclosuremusic/latch-ft-sam-smith
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta
        name=\"theme-color\" content=\"#333\">\n<link rel=\"dns-prefetch\" href=\"//style.sndcdn.com\">\n<link
        rel=\"dns-prefetch\" href=\"//a-v2.sndcdn.com\">\n<link rel=\"dns-prefetch\"
        href=\"//api-v2.soundcloud.com\">\n<link rel=\"dns-prefetch\" href=\"//sb.scorecardresearch.com\">\n<link
        rel=\"dns-prefetch\" href=\"//secure.quantserve.com\">\n<link rel=\"dns-prefetch\"
        href=\"//eventlogger.soundcloud.com\">\n<link rel=\"dns-prefetch\" href=\"//api.soundcloud.com\">\n<link
        rel=\"dns-prefetch\" href=\"//ssl.google-analytics.com\">\n<link rel=\"dns-prefetch\"
        href=\"//i1.sndcdn.com\">\n<link rel=\"dns-prefetch\" href=\"//i2.sndcdn.com\">\n<link
        rel=\"dns-prefetch\" href=\"//i3.sndcdn.com\">\n<link rel=\"dns-prefetch\"
        href=\"//i4.sndcdn.com\">\n<link rel=\"dns-prefetch\" href=\"//wis.sndcdn.com\">\n<link
        rel=\"dns-prefetch\" href=\"//va.sndcdn.com\">\n<link rel=\"dns-prefetch\"
        href=\"//pixel.quantserve.com\">\n<title>Stream Latch by Disclosure | Listen
        online for free on SoundCloud</title>\n<meta content=\"record, sounds, share,
        sound, audio, tracks, music, soundcloud\" name=\"keywords\">\n<meta name=\"referrer\"
        content=\"origin\">\n<meta name=\"google-site-verification\" content=\"dY0CigqM8Inubs_hgrYMwk-zGchKwrvJLcvI_G8631Q\">\n<link
        crossorigin=\"use-credentials\" rel=\"manifest\" href=\"/webmanifest.json\">\n<meta
        name=\"viewport\" content=\"width=device-width,mini[...]
[...]
